form {
       /* border: 1px solid #2980b9; */
       border-radius: 9px;
       padding: 40px;
       background-color: #85c4ee;
       box-shadow: 0px 1px 10px 3px #2980b9;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    transition: all .5s;
    font-size: 18px;
    // box-shadow: 0px 1px 10px 3px gray;
}


